<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}"/>
    </head>
    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
                crossorigin="anonymous"
        ></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script th:src="@{../js/bootstrap.min.js}"></script>
        </script>
        <script></script>
        <script></script>
    </head>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg  " style="background-color: #0D0603">
    <a class="navbar-brand font-weight-bold text-warning" href="/">SI-BUSINESS</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <a class="nav-item nav-link text-white" th:href="@{/}" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'font-weight-bold' : ''}">
                Home<span class="st-only"></span>
            </a>

            <a class="nav-item nav-link text-white" th:href="@{/item/}" th:classappend="${#httpServletRequest.getRequestURI() == '/item' ? 'font-weight-bold' : ''}">
                Daftar Item<span class="st-only"></span>
            </a>

            <a class="nav-item nav-link text-white" sec:authorize="hasAnyAuthority('Manager Business','Staff Product','Staff_Product' )" th:href="@{/factory/mesin}" th:classappend="${#httpServletRequest.getRequestURI() == '/factory/mesin' ? 'font-weight-bold' : ''}">
                Daftar Mesin<span class="st-only"></span>
            </a>

            <a class="nav-item nav-link text-white"  th:href="@{/coupon/}" th:classappend="${#httpServletRequest.getRequestURI() == '/coupon' ? 'font-weight-bold' : ''}">
                Coupon<span class="st-only"></span>
            </a>


        </ul>
        <ul class="navbar-nav pull-right">

            <a class="nav-item nav-link active" th:href="@{/logout}">Logout</a>

        </ul>
    </div>
</nav>
</body>
</html>