<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SI-BUSINESS</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<nav th:replace="fragments/fragment :: navbar"></nav>
<body>
<div class="container">
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Tambah User Baru</div>
                <div class="card-body">
                    <form th:action="@{/user/add}" method="POST">

<!--                        <label>UUID</label>-->
<!--                        <input type="text" name="uuid" class="form-control" />-->

                        <label>User Name</label>
                        <input type="text" name="username" class="form-control" />

                        <label>Password</label>
                        <input required type="password" name="password" class="form-control" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" title="password harus mengandung angka, huruf besar, huruf kecil, dan simbol serta minimal memiliki 8 karakter"/>

                        <label>Role</label>
                        <select name="role" class="form-control">
                            <option selected value=""> -- Pilih Role -- </option>
                            <option th:each="role : ${listRole}" th:value="${role.id}" th:text="${role.role_name}"></option>
                        </select>
                        <br>
                        <button type="submit" class="btn btn-warning">Simpan</button>
                        <a class="btn btn-outline-warning" href="/">Kembali</a>
                        <br>
                        <br>
                        <h4 th:text="${notif}"></h4>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>