<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>SI-BUSINESS</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container mb-4" style="display: flex; align-items: center;justify-content: center;">
    <div class="card m-4" style="width: 75%;">
        <div class="card-header">
            <h2 style="text-align: center;">Detail Coupon</h2>
        </div>
        <div class="card-body">
            <table class="table table-borderless mt-4">
                <tbody>

                <tr>
                    <th class="col-6">ID</th>
                    <td th:text="': '+ ${coupon.id}"></td>
                </tr>
                <tr>
                    <th class="col-6">Coupon Code</th>
                    <td th:text="': '+ ${coupon.coupon_code}"></td>
                </tr>
                <tr>
                    <th class="col-6">Coupon Name</th>
                    <td th:text="': '+ ${coupon.coupon_name}"></td>
                </tr>
                <tr>
                    <th class="col-6">Discount Amount</th>
                    <td th:text="': '+ ${coupon.discountAmount}"></td>
                </tr>
                <tr>
                    <th class="col-6">Status</th>
                    <td th:if="${coupon.status}==false">: Menunggu Persetujuan</td>
                    <td th:if="${coupon.status}==true">: Disetujui</td>
                </tr>
                <tr>
                    <th class="col-6">Expiry Date</th>
                    <td th:text="': '+ ${coupon.expiryDate}"></td>
                </tr>
                <tr>
                    <th class="col-6">Creator</th>
                    <td th:text="': '+ ${coupon.creator.username}"></td>
                </tr>
                </tbody>

            </table>
            <br>

            <table class="table table-striped table-borderless">
                <div th:unless="${coupon.listCoupontype.size()==0}">
                    <p colspan="8" style="text-align: center; font-weight:bold; font-size: medium">Daftar Type Coupon</p>

                    <thead>
                    <tr>
                        <th>No</th>
                        <th>ID</th>
                        <th>Use Day</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="type, iterationStatus : ${coupon.listCoupontype}">
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${type.id}"></td>
                        <td th:text="${type.use_day}"></td>
                    </tr>
                    </tbody>


                </div>
            </table>

        <div style="display: flex; align-items: center; justify-content: center;" sec:authorize="hasAnyAuthority('Staff Marketing', 'Staff_Marketing')">
        <!-- <div style="display: flex; align-items: center; justify-content: center;"> -->
            <span>  <a th:href="@{/coupon/update/}+${coupon.id}"  class="btn btn-warning m-2 ">Ubah</a></span>
            <span>
                <button type="button" class="btn btn-warning m-2" data-toggle="modal" data-target="#exampleModal3">Hapus</button>
                  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModal3Label">Hapus Coupon</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <h4 th:text="'Apakah anda yakin ingin menghapus Coupon ini?'"></h4>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-sm m-2 btn-secondary" data-dismiss="modal">Tidak</button>
                                  <a th:href="@{/coupon/delete/}+${coupon.id}"  class="btn btn-sm m-2 btn-danger">Hapus</a>
                              </div>
                          </div>
                      </div>
                  </div>
            </span>
        </div>
        </div>
    </div>
</div>
</body>
</html>