<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <meta charset="UTF-8">
  <title> SI-BUSINESS </title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
  .judul {
    color: #0D0603;
    font-weight:800;
  }

  thead {
    background-color: #91684A;
    color: white;
    white-space: nowrap
  }

  .primary-button {
    background-color: #91684A;
    outline-color:#91684A ;
    color: white;
  }

  .secondary-button {
    background-color: #FFDF91;
    outline-color: #FFDF91;
    color: black;
  }
  .atas {
    margin-top: 32px;
  }
  .fa {
    margin-right: 5px;
  }
  table tr th {
    width: 140px;

  }
</style>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container atas">
  <h2 class="judul">Coupon</h2>
  <br>
  <div style="display: flex; align-items: center; justify-content: center;">
    <span><a th:href="@{/coupon/add}" class="mx-2 btn btn-warning" sec:authorize="hasAnyAuthority('Staff Product','Staff_Product', 'Staff_Marketing', 'Staff Marketing')">Tambah Coupon</a></span>
    <span><a th:href="@{/coupon/requestCreation}" class="mx-2 btn btn-warning">Coupon Request Creation</a></span>
  </div>
  


  <div class="atas" th:if="*{listAll.size() != 0}">
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id Coupon</th>
            <!-- <th>Coupon Code</th> -->
            <th>Coupon Name</th>
            <th>Discount Amount</th>
            <th>Expiry Date</th>
            <th>Creator</th>
            <th>Action</th>
            <!-- <th>Status</th> -->
            <!--                <th sec:authorize="hasAuthority('Manager Business')" >Action</th>-->
            <!-- <th>Action</th> -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="coupon : ${listAll}">

            <td th:text="${coupon.id}"></td>
            <!-- <td th:text="${coupon.coupon_code}"></td> -->
            <td th:text="${coupon.coupon_name}"></td>
            <td th:text="${coupon.discountAmount}"></td>
            <!-- <td th:text="${coupon.expiryDate}"></td> -->
            <td th:text="${#dates.format(coupon.expiryDate, 'EEE, dd MMM yyyy')}"></td>
            <td th:text="${coupon.creator.username}"></td>
            <td style="display: flex; align-items: center; justify-content: center;">
              <span><a class="btn btn-sm m-2 secondary-button" th:href="@{/coupon/detail(id=${coupon.id})}">Detail</a></span>
              <span sec:authorize="hasAnyAuthority('Staff Marketing', 'Staff_Marketing')">  <a th:href="@{/coupon/update/}+${coupon.id}"  class="btn btn-sm m-2 secondary-button">Ubah</a></span>
              <span sec:authorize="hasAnyAuthority('Staff Marketing', 'Staff_Marketing')">
                  <button type="button" class="btn btn-sm m-2 secondary-button" data-toggle="modal" data-target="#exampleModal3">Hapus</button>
                  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModal3Label">Hapus Coupon</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                                  <h4 th:text="'Apakah anda yakin ingin menghapus Coupon ini?'"></h4>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-sm m-2 btn-secondary" data-dismiss="modal">Tidak</button>
                                  <a th:href="@{/coupon/delete/}+${coupon.id}"  class="btn btn-sm m-2 btn-danger">Hapus</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </span>
            </td>


            <!-- <td th:text="${coupon.status}"></td> -->

<!--                <td sec:authorize="hasAuthority('Manager Business')">-->
<!--                <td style="display: flex; align-items: center; justify-content: center;" sec:authorize="hasAuthority('Staff Marketing')">-->
            <!-- <td style="display: flex; align-items: center; justify-content: center;">
                <span ><a class="btn btn-sm btn-primary secondary-button" th:href="@{/coupon/approve(id=${coupon.id})}">Setuju</a></span>
                <span><a class="btn btn-sm btn-primary secondary-button" th:href="@{/coupon/reject(id=${coupon.id})}">Hapus</a></span>
                <span><a class="btn btn-sm btn-primary secondary-button" th:href="@{/coupon/detail(id=${coupon.id})}">Detail</a></span>
            </td> -->



        </tr>
        </tbody>
    </table>


  <a class="btn btn-sm primary-button" href="/">Home</a>
</div>

</body>

</html>